#"pre 12AU7/ push-pull 6V6"
style "gx_lv2-15"
{
  stock["bigknob"] = {{"mc-knob-middle.png"}}
  stock["smallknob"] = {{"mc-knob-small.png"}}
  stock["smallknobr"] = {{"mc-knob-small.png"}}
  stock["amp_skin"] = {{"amp35.png"}}
  GxPaintBox::icon-set =15
  GxPaintBox::force-reload =0
}

widget "*.GUITARIXLV215" style:highest "gx_lv2-15"

