#"pre 6DJ8/ master 6V6"
style "gx_lv2-13"
{
  stock["bigknob"] = {{"knob.png"}}
  stock["smallknob"] = {{"knob-small.png"}}
  stock["smallknobr"] = {{"knob-middle.png"}}
  stock["amp_skin"] = {{"amp33.png"}}
  GxPaintBox::icon-set =13
  GxPaintBox::force-reload =0
}

widget "*.GUITARIXLV213" style:highest "gx_lv2-13"

