#"6DJ8 feedback"
style "gx_lv2-9"
{
  stock["bigknob"] = {{"ac30-knob.png"}}
  stock["smallknob"] = {{"ac30-knob-small.png"}}
  stock["smallknobr"] = {{"ac30-knob-middle.png"}}
  stock["amp_skin"] = {{"princeton.png"}}
  GxPaintBox::icon-set =9
  GxPaintBox::force-reload =1
}

widget "*.GUITARIXLV29" style:highest "gx_lv2-9"

