#"6V6"
style "gx_lv2-5"
{
  stock["bigknob"] = {{"metal-knob.png"}}
  stock["smallknob"] = {{"metal-knob-small.png"}}
  stock["smallknobr"] = {{"metal-knob-middle.png"}}
  stock["amp_skin"] = {{"ac30.png"}}
  GxPaintBox::icon-set =5
  GxPaintBox::force-reload =0
}

widget "*.GUITARIXLV25" style:highest "gx_lv2-5"

