#"12ax7"
style "gx_lv2-0"
{
  stock["bigknob"] = {{"tactile_knob_large_151f.png"}}
  stock["smallknob"] = {{"tactile_knob_small_99f.png"}}
  stock["smallknobr"] = {{"tactile_knob_medium_151f.png"}}
  stock["amp_skin"] = {{"amp21.png"}}
  GxPaintBox::icon-set =0
  GxPaintBox::force-reload =1
}

widget "*.GUITARIXLV20" style:highest "gx_lv2-0"

