#"pre 12ax7/ master 6V6"
style "gx_lv2-10"
{
  stock["bigknob"] = {{"nk-knob.png"}}
  stock["smallknob"] = {{"nk-knob-small.png"}}
  stock["smallknobr"] = {{"nk-knob-middle.png"}}
  stock["amp_skin"] = {{"amp30.png"}}
  GxPaintBox::icon-set =10
  GxPaintBox::force-reload =0
}

widget "*.GUITARIXLV210" style:highest "gx_lv2-10"

