#"pre 12ax7/ push-pull 6V6"
style "gx_lv2-14"
{
  stock["bigknob"] = {{"ac30-knob.png"}}
  stock["smallknob"] = {{"ac30-knob-small.png"}}
  stock["smallknobr"] = {{"ac30-knob-middle.png"}}
  stock["amp_skin"] = {{"amp34.png"}}
  GxPaintBox::icon-set =14
  GxPaintBox::force-reload =1
}

widget "*.GUITARIXLV214" style:highest "gx_lv2-14"

