#"vibrochump"
style "gx_redeye-vibrochump"
{
  stock["bigknob"] = {{"vibrochump-knob.png"}}
  stock["amp_skin"] = {{"vibrochump.png"}}
  stock["switch_on"] = {{"chump-switch_on.png"}}
  stock["switch_off"] = {{"chump-switch_off.png"}}
  GxPaintBox::icon-set =2
}

widget "*.vibrochump" style:highest "gx_redeye-vibrochump"
class "*GxToggleImage" style "gx_redeye-vibrochump"
