*.o
*.pyc
*~
*.bak
*.glade.txt
trunk/build/
trunk/po/LINGUAS
trunk/.lock-wscript
trunk/.waf-2*
trunk/.waf3-2*
trunk/.lock-waf_*_build
trunk/TAGS
trunk/webui/build
trunk/webui/deploy
trunk/documentation/html
.dir-locals.el
