#"12ax7 feedback"
style "gx_lv2-6"
{
  stock["bigknob"] = {{"nm1-knob.png"}}
  stock["smallknob"] = {{"nm1-knob-small.png"}}
  stock["smallknobr"] = {{"nm1-knob-middle.png"}}
  stock["amp_skin"] = {{"ga15.png"}}
  GxPaintBox::icon-set =6
}

widget "*.GUITARIXLV2" style:highest "gx_lv2-6"

