
[Desktop Entry]
Name=guitarix
GenericName=Mono Amplifier
Comment=Simple mono amplifier simulation
Exec=guitarix
Icon=gx_head
Categories=AudioVideo;X-Jack;Midi;X-MIDI;
Terminal=false
Type=Application
