style "guitarix_caption"
{
  font_name = "sans 8"
}

style "guitarix_regler"
{
  GxRegler::value-spacing = 2
  GxRegler::value-border = { 6, 6, 3, 3 }
  font_name = "sans 7.5"
}

style "guitarix_switch"
{
  xthickness = 0
  ythickness = 0
  GtkButton::inner-border = {0, 0, 0, 0}
  GtkButton::default-border = {0, 0, 0, 0}
  GtkButton::focus-line-width = 0
  GtkButton::focus-padding = 0
  GtkButton::interior-focus = 0
  GtkButton::child-displacement-x = 0
  GtkButton::child-displacement-y = 0
  engine "clearlooks" {
    #disable_focus = TRUE
    style = CLASSIC
  }
}

style "guitarix_selector"
{
  #cairo_set_source_rgba(cr, 0.4, 1, 0.2, 0.8)
  fg[NORMAL] = 	{ 0.32, 0.8, 0.16 }
  GtkRange::trough-border = 2
  GtkRange::stepper-size = 8
  GtkRange::stepper-spacing = 2
  GxRegler::value-border = { 2, 0, 0, 0 }
  font_name = "sans 7.5"
  xthickness = 10
  ythickness = 1
}

style "guitarix_waveview"
{
  fg[NORMAL] = 	{ 0.48, 0.48, 0.12 } # RGBA: 0.8, 0.8, 0.2, 0.6
  font_name = "sans 6"
}

style "guitarix_slider"
{
  GxRegler::value-border = {0, 0, 0, 0}
}

style "guitarix_eqslider"
{
  font_name = "sans 6"
}

style "guitarix_bold_label"
{
  font_name = "sans bold 8"
}

style "guitarix_fastmeter"
{
  GxFastMeter::clr-bottom = "#003808"
  GxFastMeter::clr-middle = "#00ff00"
  GxFastMeter::clr-top    = "#ff0000"
  GxFastMeter::over       = "#ff0000"
}

style "guitarix_iredit"
{
  GxIREdit::sample-graph-color-out = { 20000, 20000, 20000, 65535 }
  GxIREdit::shade-alpha = 0.6
  GxIREdit::gain-line-color = { 0, 60000, 0, 65535 }
}

widget "*.effekt_label" style:highest "guitarix_caption"
widget "*.filter_box.*.effekt_label" style:highest "guitarix_bold_label"
class "GxRegler" style:highest "guitarix_regler"
class "GxSwitch" style:highest "guitarix_switch"
class "GxWaveView" style:highest "guitarix_waveview"
class "GxHSlider" style:highest "guitarix_slider"
class "GxEQSlider" style:highest "guitarix_eqslider"
class "GxSelector" style:highest "guitarix_selector"
class "GxFastMeter" style:highest "guitarix_fastmeter"
class "GxIREdit" style:highest "guitarix_iredit"
