#
# This is the GTK rc style file for guitarix
#

include "common.rc"
pixmap_path './:/usr/share/guitarix/skins:/usr/local/share/guitarix/skins'

style "guitarix_skin_icons"
{
  stock["bigknob"] = {{"knob6.png"}}
  stock["smallknob"] = {{"smallknob6.png"}}
  stock["eqslider"] = {{"eqslider1.png"}}
}

class "GxKnob" style "guitarix_skin_icons"
class "GxEQSlider" style "guitarix_skin_icons"

style "guitarix-paintbox"
{
  GxPaintBox::skin-gradient = {
    {     0, 13107, 32768, 13107, 39322 }, # 0, 0.2,  0.5, 0.2,  0.6
    { 65536,  3277,  6554,  3277, 39322 }} # 1, 0.05, 0.1, 0.05, 0.6
}

class "GxPaintBox" style "guitarix-paintbox"

style "guitarix_rainbow"
{


  GtkButton::default_border = { 0, 0, 0, 0 }
  GtkButton::default_outside_border = { 0, 0, 0, 0 }
  GtkButton::button_relief = GTK_RELIEF_NONE


  fg[NORMAL] = { 0.80, 0.80, 0.80 }
  fg[ACTIVE] = { 0.80, 0.80, 0.80 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.80, 0.80, 0.80 }
  fg[SELECTED] = { 0.80, 0.80, 0.80 }

  bg[NORMAL] = { 0.0, 0.0, 0.0 }
  bg[PRELIGHT] = "#1c5d09"
  bg[ACTIVE] = { 0.0, 0.0, 0.0 }
  bg[INSENSITIVE] = "#c4c0c0"
  bg[SELECTED] = "#103004"
  bg_pixmap[NORMAL] = ""

  text[NORMAL] = { 0.80, 0.80, 0.80 }
  text[ACTIVE] = { 0.80, 0.80, 0.80 }
  text[PRELIGHT] = { 0.80, 0.80, 0.80 }
  text[INSENSITIVE] = { 0.80, 0.80, 0.80}
  text[SELECTED] = { 1.0, 1.0, 1.0 }

  base[ACTIVE]     = "#103004"
  base[NORMAL]      =  "#103004"
  base[PRELIGHT]     = { 0.20, 0.20, 0.20 }
  base[INSENSITIVE]  = "#4c5159"
  base[SELECTED]     = { 0.25, 0.25, 0.25 }
  font_name = "sans 10"

}


class "GtkWidget" style:highest "guitarix_rainbow"
class "GtkLabel" style:highest "guitarix_rainbow"
class "GtkHScale" style:highest "guitarix_rainbow"
class "GtkVScale" style:highest "guitarix_rainbow"
class "GtkCheckButton" style:highest "guitarix_rainbow"
class "GtkButton" style:highest "guitarix_rainbow"
class "GtkFrame" style:highest "guitarix_rainbow"
class "GtkExpander" style:highest "guitarix_rainbow"


style "guitarix-event_rainbow"
{
 bg_pixmap[NORMAL] = "rainbow3.jpg"
}
widget "*.osc_box" style:highest "guitarix-event_rainbow"
class "GtkEventBox" style:highest "guitarix-event_rainbow"

style "guitarix-dialog_rainbow"
{
 bg_pixmap[NORMAL] = "rainbow3.jpg"
}

#widget_class "GtkDialog*" style:highest "guitarix-dialog_rainbow"

style "guitarix-m_rainbow"
{
  fg[NORMAL] = "#8c5214"
  bg[NORMAL] =  "#1c5d09"
  font_name = "sans 9"
}

class "GtkMenu" style:highest "guitarix-m_rainbow"
class "GtkMenuBar" style:highest "guitarix-m_rainbow"


style "guitarix-l_rainbow"
{
  fg[NORMAL] = 	{ 0.7, 0.7, 0.7 }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }

}

style "guitarix-v_rainbow"
{
  fg[NORMAL] = 	{ 0.6, 0.6, 0.6 }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }

}

style "guitarix-b_rainbow"
{
  fg[NORMAL] = 	{ 0.5, 0.5, 0.5 }
  fg[ACTIVE] = { 0.2, 0.2, 0.2 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }

}
widget "*.effekt_label" style:highest "guitarix-v_rainbow"
widget "*.value_label" style:highest "guitarix-l_rainbow"
widget "*.beffekt_label" style:highest "guitarix-b_rainbow"


style "b_style_rainbow"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "rainbow1.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "rainbow2.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= ACTIVE
			shadow			= OUT
			file			= "rainbow1.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
}

style "c_style_rainbow"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "rainbow.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}

	}
}

style "h_style_rainbow"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "rainbow.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
	fg[NORMAL] = { 0.80, 0.80, 0.80 }
	bg[NORMAL] = { 0.0, 0.0, 0.0 }
	
	text[NORMAL] = { 0.80, 0.80, 0.80 }
	text[ACTIVE] = { 0.80, 0.80, 0.80 }
	text[PRELIGHT] = { 0.80, 0.80, 0.80 }
	text[INSENSITIVE] = { 0.80, 0.80, 0.80}
	text[SELECTED] = { 1.0, 1.0, 1.0 }

	base[ACTIVE]     = "#103004"
	base[NORMAL]      =  "#103004"
	base[PRELIGHT]     = { 0.20, 0.20, 0.20 }
	base[INSENSITIVE]  = "#4c5159"
	base[SELECTED]     = { 0.25, 0.25, 0.25 }
}

class "GtkHandleBox" style:highest "h_style_rainbow"
widget_class "*GtkToggleButton*" style:highest "b_style_rainbow"
widget_class "GtkDialog*" style:highest "h_style_rainbow"
class "GtkButton" style:highest "b_style_rainbow"
class "GtkSpinButton" style:highest "c_style_rainbow"

style "p_style_rainbow"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "rainbow3.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
}
widget_class "*GtkProgressBar*" style:highest "p_style_rainbow"

