#
# This is the GTK rc style file for guitarix
#

pixmap_path './skins:./:/usr/share/guitarix/skins:/usr/local/share/guitarix/skins'


style "guitarix_zzz"
{


  GtkButton::default_border = { 0, 0, 0, 0 }
  GtkButton::default_outside_border = { 0, 0, 0, 0 }
  GtkButton::button_relief = GTK_RELIEF_NONE


  fg[NORMAL] = { 0.1, 0.1, 0.1 }
  fg[ACTIVE] = { 0.2, 0.2, 0.2 }
  fg[PRELIGHT] = { 0.3, 0.3, 0.3 }
  fg[INSENSITIVE] = { 0.80, 0.80, 0.80 }
  fg[SELECTED] = { 0.4, 0.4, 0.4 }

  bg[NORMAL] = { 0.5, 0.5, 0.5 }
  # bg[NORMAL] = { 0.35, 0.35, 0.40 }
  # bg_pixmap[NORMAL] = "guitarixback4.jpg"
  bg[PRELIGHT] = { 0.40, 0.40, 0.45 }
  bg[ACTIVE] = { 0.0, 0.0, 0.0 }
  bg[SELECTED] = "#c4c0c0"

  text[NORMAL] = { 0.1, 0.1, 0.1 }
  text[ACTIVE] = { 0.2, 0.2, 0.2 }
  text[PRELIGHT] = { 0.3, 0.3, 0.3 }
  text[INSENSITIVE] = { 0.5, 0.5, 0.5}
  text[SELECTED] = { 0.4, 0.4, 0.4 }

  base[ACTIVE]     = { 0.0, 0.0, 0.0 }
  base[NORMAL]      =  { 0.8, 0.8, 0.8 }
  base[PRELIGHT]     = { 0.6, 0.6, 0.6 }
  base[INSENSITIVE]  = "#4c5159"
  base[SELECTED]     = { 0.0, 0.0, 0.0 }
  font_name = "sans 10"
  engine "clearlooks"
  {
    menubarstyle      = 0       # 0 = flat, 1 = sunken, 2 = flat gradient
  }
}


class "GtkWidget" style:highest "guitarix_zzz"
class "GtkLabel" style:highest "guitarix_zzz"
class "GtkHScale" style:highest "guitarix_zzz"
class "GtkVScale" style:highest "guitarix_zzz"
class "GtkCheckButton" style:highest "guitarix_zzz"
class "GtkButton" style:highest "guitarix_zzz"
class "GtkFrame" style:highest "guitarix_zzz"
class "GtkExpander" style:highest "guitarix_zzz"

widget_class "*GtkToggleButton*" style:highest "guitarix_zzz"
class "GtkButton" style:highest "guitarix_zzz"
class "GtkSpinButton" style:highest "guitarix_zzz"
widget_class "GtkDialog*" style:highest "guitarix_zzz"

style "guitarix_zhandle_zzz"
{
  fg[NORMAL] = { 0.80, 0.80, 0.80 }

  bg[NORMAL] = { 0.5, 0.5, 0.5 }
  engine "clearlooks" {}
  #font_name = "sans 9"

}


class "GtkHandleBox" style:highest "guitarix_zhandle_zzz"

style "guitarix_event_zzz"
{
  bg[NORMAL] = { 0.2, 0.2, 0.2 }
  bg_pixmap[NORMAL] = ""
  engine "clearlooks" {}
}

widget "*.osc_box" style:highest "guitarix_event_zzz"
class "GtkEventBox" style:highest "guitarix_event_zzz"

style "guitarix_menu_default"
{
  fg[NORMAL] = { 0.80, 0.80, 0.80 }

  bg[NORMAL] = { 0.35, 0.35, 0.40 }

  font_name = "sans 9"
  engine "clearlooks" {}
}

class "GtkMenu" style:highest "guitarix_menu_default"
class "GtkMenuBar" style:highest "guitarix_menu_default"


style "guitarix-l_default"
{
  fg[NORMAL] = 	{ 0.03, 0.03, 0.03 }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }

}

style "guitarix-v_default"
{
  fg[NORMAL] = 	{ 0.01, 0.01, 0.02 }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }

}

style "guitarix-b_default"
{
  fg[NORMAL] = 	{ 0., 0., 0. }
  fg[ACTIVE] = { 0.2, 0.2, 0.2 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }

}
widget "*.effekt_label" style:highest "guitarix-v_default"
widget "*.value_label" style:highest "guitarix-l_default"
widget "*.beffekt_label" style:highest "guitarix-b_default"


