#
# This is the GTK rc style file for guitarix
#

pixmap_path './:/usr/share/guitarix:/usr/local/share/guitarix'


style "guitarix"
{


  GtkButton::default_border = { 0, 0, 0, 0 }
  GtkButton::default_outside_border = { 0, 0, 0, 0 }
  GtkButton::button_relief = GTK_RELIEF_NONE


  fg[NORMAL] = { 0.80, 0.80, 0.80 }
  fg[ACTIVE] = { 0.80, 0.80, 0.80 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.80, 0.80, 0.80 }
  fg[SELECTED] = { 0.80, 0.80, 0.80 }

  bg[NORMAL] = { 0.0, 0.0, 0.0 }
  bg[PRELIGHT] = "#303084"
  bg[ACTIVE] = { 0.0, 0.0, 0.0 }
  bg[INSENSITIVE] = "#c4c0c0"
  bg[SELECTED] = "#000094"

  text[NORMAL] = { 0.80, 0.80, 0.80 }
  text[ACTIVE] = { 0.80, 0.80, 0.80 }
  text[PRELIGHT] = { 0.80, 0.80, 0.80 }
  text[INSENSITIVE] = { 0.80, 0.80, 0.80}
  text[SELECTED] = { 1.0, 1.0, 1.0 }

  base[ACTIVE]     = "#272a2f"
  base[NORMAL]      =  "#1a1e20"
  base[PRELIGHT]     = { 0.20, 0.20, 0.20 }
  base[INSENSITIVE]  = "#4c5159"
  base[SELECTED]     = { 0.25, 0.25, 0.25 }
  font_name = "sans 10"

}


class "GtkWidget" style:highest "guitarix"
class "GtkLabel" style:highest "guitarix"
class "GtkHScale" style:highest "guitarix"
class "GtkVScale" style:highest "guitarix"
class "GtkCheckButton" style:highest "guitarix"
class "GtkButton" style:highest "guitarix"
class "GtkFrame" style:highest "guitarix"
class "GtkExpander" style:highest "guitarix"
class "GtkEventBox" style:highest "guitarix"

style "guitarix-event"
{
 bg_pixmap[NORMAL] = "controlsbl2.jpg"
}
widget "*.osc_box" style:highest "guitarix-event"
#class "GtkEventBox" style:highest "guitarix-event"

style "guitarix-dialog"
{
 bg_pixmap[NORMAL] = "controls4.jpg"
}

widget_class "GtkDialog*" style:highest "guitarix-dialog"

style "guitarix-menu"
{
  fg[NORMAL] = { 0.80, 0.80, 0.80 }
  bg[NORMAL] =  "#303084"
  font_name = "sans 9"
}

class "GtkMenu" style:highest "guitarix-menu"
class "GtkMenuBar" style:highest "guitarix-menu"

style "b_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "controlsbl3.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "controlsbl4.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= ACTIVE
			shadow			= OUT
			file			= "controlsbl3.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
}

style "c_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "controlsbl.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}

	}
}

style "guitarix-l_black"
{
  fg[NORMAL] = 	{ 0.7, 0.7, 0.7 }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }

}

style "guitarix-v_black"
{
  fg[NORMAL] = 	{ 0.6, 0.6, 0.6 }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }

}

style "guitarix-b_black"
{
  fg[NORMAL] = 	{ 0.5, 0.5, 0.5 }
  fg[ACTIVE] = { 0.2, 0.2, 0.2 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }

}
widget "*.effekt_label" style:highest "guitarix-v_black"
widget "*.value_label" style:highest "guitarix-l_black"
widget "*.beffekt_label" style:highest "guitarix-b_black"


style "h_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "guitarix-darkblack-relief.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
	fg[NORMAL] = { 0.80, 0.80, 0.80 }
    bg[NORMAL] = { 0.0, 0.0, 0.0 }
}

class "GtkHandleBox" style:highest "h_style"
class "GtkScrolledWindow" style:highest "h_style"
widget_class "*GtkToggleButton*" style:highest "b_style"
class "GtkButton" style:highest "b_style"
class "GtkSpinButton" style:highest "c_style"

style "p_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "controls4.jpg"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
}
widget_class "*GtkProgressBar*" style:highest "p_style"

