/* GX-Style Hippie */

/* ICON THEME
 * 
 * background1:    hippie.png
 * background2:    hippie2.png
 * bigknob:        knob_big_hippie.png
 * levelslider:    simplelevelslider.png
 * midknob:        knob_mid_hippie.png
 * minitoggle_off: switch_mid_off.png
 * minitoggle_on:  switch_mid_on.png
 * portdisplay:    playhead.png
 * smallknob:      knob_small_hippie.png
 * smallknobr:     knob_small_r_hippie.png
 * switchit_off:   switch_off.png
 * switchit_on:    switch_on.png
 * wheel_back:     tactile_wheel_101f.png
 * 
 * ICON THEME
 */

@import url("gx_head_Guitarix.css");

frame, #frame_inversed, frame border, #frame_inversed border {
    background-color: transparent;
}

frame border, #frame_inversed border {
    border-color: rgba(50, 50, 50, 0.7);
    border-style: groove;
    border-width: 1px;
}
