include "gx_head_Guitarix.rc"

style "guitarix_effect_title" {
    font_name = "Roboto Condensed Regular 10"
    fg[NORMAL] = "#999999"
}
widget "*rackcontainer*effect_title" style:highest "guitarix_effect_title"

style "guitarix_font" {
    font_name = "Roboto Condensed Regular 8"
    fg[NORMAL] =  "#999999"
}
widget "*.rack_label" style:highest "guitarix_font"
widget "*Value" style:highest "guitarix_font"
widget "*ampbox*label" style:highest "guitarix_font"
widget "*beffekt_label" style:highest "guitarix_font"
widget "*rack_effect_label" style:highest "guitarix_font"

style "guitarix_default" {
    stock["logo"]           = {{"logo_white.png"}}
    stock["background1"]    = {{"nebula.png"}}
    stock["background2"]    = {{"nebula2.png"}}
}
class "GtkWidget" style:highest "guitarix_default"

style "guitarix_notebook" {
    xthickness = 5
    ythickness = 5
    bg[ACTIVE] = "#222222"
    bg[NORMAL] = "#222222"

    engine "murrine"  {
    }

    engine "nodoka"  {
    }

    engine "aurora" {
        menubarstyle    = 0 # 0 = flat, 1 = gradient, 2 = sunken
        curvature       = 2.0
        arrowsize       = 1.0# controls combo_arrow circle size.  Diameter set by (11 + 2 * arrowsize)
        old_arrowstyle  = FALSE #set to TRUE for original circled arrows
        animation       = TRUE # FALSE = disabled, TRUE = enabled
    }
    engine "clearlooks" {
        contrast            = 0.66
        radius              = 3.0
        style               = GLOSSY #INVERTED CLASSIC GLOSSY GUMMY
    }
}
widget "*tab_rack" style:highest "guitarix_notebook"

style "guitarix_frame" {
    bg[NORMAL]              = "#222222"

    engine "murrine"  {
    }

    engine "clearlooks" {
        contrast            = 1.9
        radius              = 4.0
        disable_focus       = TRUE
    }
}
class "*GtkFrame" style:highest "guitarix_frame"
class "*GtkVSeparator" style:highest "guitarix_frame"
class "*GtkHSeparator" style:highest "guitarix_frame"

style "guitarix-paintbox"
{
  GxPaintBox::icon-set =1
  stock['gxhead'] = {{"live_wallpaper_nebula.png"}}
}
class "*GxPaintBox" style "guitarix-paintbox"
