include "gx_head_Guitarix.rc"

style "guitarix_default" {
    stock["background1"]    = {{"copper.png"}}
}
class "GtkWidget" style:highest "guitarix_default"

style "guitarix_frame" {
    bg[NORMAL]              = "#CD9077"
    engine "clearlooks" {
        contrast            = 1.2
        radius              = 4.0
        disable_focus       = TRUE
    }
}
class "*GtkFrame" style:highest "guitarix_frame"
class "*GtkVSeparator" style:highest "guitarix_frame"
class "*GtkHSeparator" style:highest "guitarix_frame"
