#
# This is the GTK rc style file for gx2_head
#

include "common.rc"

style "gx2_head_skin_icons"
{
stock["bigknob"] = {{"tactile_knob_large_151f.png"}}
stock["smallknob"] = {{"tactile_knob_small_99f.png"}}
stock["smallknobr"] = {{"tactile_knob_medium_151f.png"}}
}
 
class "GxKnob" style "gx2_head_skin_icons"

style "gx2_head_wheel_icons"
{
stock["wheel_back"] = {{"tactile_wheel_101f.png"}}

GxWheel::framecount = 101 # use 0 for auto (assumes square frames)
                            #  and >1 for non squareframe animations
}

class "GxWheel" style "gx2_head_wheel_icons"

style "gx2_head_skin_switch_icons"
{
stock["switchit_on"] = {{"tactile_backlit_switchit_on.png"}}
stock["switchit_off"] = {{"tactile_backlit_switchit_off.png"}}
}

class "GxToggleImage" style "gx2_head_skin_switch_icons"

style "gx2_head_skin_knob_animation"
{

GxKnob::framecount = 0 # use 0 for auto (assumes square frames)
                            #  and >1 for non squareframe animations
}
class "GxKnob" style "gx2_head_skin_knob_animation"


style "gx2_head-paintbox"
{
GxPaintBox::skin-gradient = {
{ 0, 9830, 19661, 9830, 65536 }, # 0, 0.3, 0.3, 0.3 ,1 
{ 32768, 6554, 9830, 6554, 65536 }, # 0.5, 0.15, 0.15, 0.15, 1
{ 65536, 6554, 6554, 6554, 65536 }} # 1, 0.1, 0.1, 0.1, 1  
GxPaintBox::icon-set =5
GxPaintBox::width =600
GxPaintBox::height =180

stock["gxhead"] = {{"gx_green18.png"}}
stock["main_image"] = {{"gx_green18.png"}}
}

class "GxPaintBox" style "gx2_head-paintbox"

style "gx2_head"
{


GtkButton::default_border = { 0, 0, 0, 0 }
GtkButton::default_outside_border = { 0, 0, 0, 0 }
GtkButton::button_relief = GTK_RELIEF_NONE

#strings in modules
fg[NORMAL] = { 0., 0.1, 0. }
fg[ACTIVE] = { 1.0, 1.0, 1.0 }
fg[PRELIGHT] = { 0.90, 0.90, 0.90 }
fg[INSENSITIVE] = { 0.80, 0.80, 0.80 }
fg[SELECTED] = { 0.70, 0.70, 0.70 }
#background in modules
bg[NORMAL] = { 0, 0, 0 }
bg[PRELIGHT] = "#303084"
bg[ACTIVE] = { 0.0, 0.0, 0.0 }
bg[INSENSITIVE] = "#c4c0c0"
bg[SELECTED] = "#000094"

#gridlines in modules
text[NORMAL] = { 0.00, 0.10, 0.10 }
text[ACTIVE] = { 0.00, 0.80, 0.80 }
text[PRELIGHT] = { 0.80, 0.80, 0.80 }
text[INSENSITIVE] = { 0.80, 0.80, 0.80}
text[SELECTED] = { 1.0, 1.0, 1.0 }

base[ACTIVE] = "#272a2f"
base[NORMAL] = { 0.00, 0.70, 0.70 }
base[PRELIGHT] = { 0.20, 0.20, 0.20 }
base[INSENSITIVE] = "#4c5159"
base[SELECTED] = { 0.25, 0.25, 0.25 }
font_name = "sans 10"

}


class "GtkWidget" style:highest "gx2_head"
class "GtkLabel" style:highest "gx2_head"
class "GtkHScale" style:highest "gx2_head"
class "GtkVScale" style:highest "gx2_head"
class "GtkCheckButton" style:highest "gx2_head"
class "GtkButton" style:highest "gx2_head"
class "GtkFrame" style:highest "gx2_head"
class "GtkExpander" style:highest "gx2_head"
#class "GtkEventBox" style:highest "gx2_head"

style "gx2_head-event"
{
bg_pixmap[NORMAL] = "gx_green18.png"
}
widget "*.osc_box" style:highest "gx2_head-event"
widget "*.main_window" style:highest "gx2_head-event"

style "gx2_head-dialog"
{
bg_pixmap[NORMAL] = "gx_green1.jpg"
}

style "gx2_black_box"
{
bg[NORMAL] = { 0, 0, 0}
}
widget "*.black_box" style:highest "gx2_black_box"

style "gx2_gree_box"
{
bg[NORMAL] = { 0.15, 0.3, 0.15}
}
widget "*.gree_box" style:highest "gx2_gree_box"

style "gx2_dark_box"
{
bg[NORMAL] = { 0.25, 0.15, 0.15}
}
widget "*.dark_box" style:highest "gx2_dark_box"

style "gx2_darker_box"
{
bg[NORMAL] = { 0.1, 0.05, 0.05}
}
widget "*.darker_box" style:highest "gx2_darker_box"

#widget_class "GtkDialog*" style:highest "gx2_head-dialog"

style "gx2_head-menu"
{
#text in menues
fg[NORMAL] = { 0.20, 0.20, 0.20 }
fg[PRELIGHT] = { 0.6, 0.8, 0.6 }
#buttons-borders in menues
bg[NORMAL] = { 0.30, 0.60, 0.30 }
bg[PRELIGHT] = { 0.20, 0.50, 0.20 }
bg[SELECTED] = { 0.20, 0.40, 0.20 }
#arrows in menues
text[NORMAL] = { 0.20, 0.50, 0.50 }
text[ACTIVE] = { 0.80, 0.80, 0.80 }

base[ACTIVE] = { 0.0, 0.20, 0.20 }
#buttons-background in menues
base[NORMAL] = { 0.60, 0.80, 0.80 }
base[PRELIGHT] = { 0.20, 0.20, 0.20 }
base[INSENSITIVE] = "#4c5159"
base[SELECTED] = { 0.25, 0.25, 0.25 }
font_name = "sans 9"
}

widget_class "*GtkMenu*" style:highest "gx2_head-menu"
widget_class "*GtkMenuBar*" style:highest "gx2_head-menu"

style "gx2_b_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "gx_green2.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = PRELIGHT
shadow = OUT
file = "gx_green1.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = ACTIVE
shadow = OUT
file = "gx_green2.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
}
}

style "gxt_barbutton_style"
{

bg[ACTIVE] = "#000000"
bg[PRELIGHT] = { 0.01, 0.01, 0.01 }

fg[NORMAL] = "#f1eded"
fg[ACTIVE] = "#d6d6d6"
fg[PRELIGHT] =  { 0.90, 0.90, 0.90 }
}

style "gx2_c_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "gx_green1.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}

}
}

style "gx2_head-l_black"
{
fg[NORMAL] = { 0.9, 0., 0. }
fg[ACTIVE] = { 0.8, 0.8, 0.8 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "URW Chancery L Medium Italic 12"
}

style "gx2_head-v_black"
{
fg[NORMAL] = { 0., 0., 0. }
fg[ACTIVE] = { 0.8, 0.8, 0.8 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "URW Chancery L Medium Italic 12"
}

style "gx2_head-b_black"
{
fg[NORMAL] = { 0.4, 0.6, 0.4 }
fg[ACTIVE] = { 0.2, 0.2, 0.2 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.1, 0.0, 0.0 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "sans 9"
}

style "gx2_head-rack"
{
#text for fx-parameter-captions
fg[NORMAL] = { 0.6, 0.8, 0.7 }
fg[ACTIVE] = { 0.2, 0.2, 0.2 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "URW Chancery L Medium Italic 12"
}

style "gx2_rack-slider"
{
fg[NORMAL] = { 0.7, 0.7, 0.7 }
fg[ACTIVE] = { 0.2, 0.2, 0.2 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "sans 6"
}

widget "*.effekt_label" style:highest "gx2_head-v_black"
widget "*.value_label" style:highest "gx2_head-l_black"
widget "*.beffekt_label" style:highest "gx2_head-b_black"
widget "*.rack_label" style:highest "gx2_head-rack"
widget "*.rack_slider" style:highest "gx2_rack-slider"
widget "*.rack_regler" style:highest "gx2_rack-slider"

style "gx2_h_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "gx_green1.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
}
#text midi-controller-module
fg[NORMAL] = { 0.60, 0.70, 0.60 }
#border midi-controller-module
bg[NORMAL] = { 0.9, 0.9, 0.7 }
#text midi-controller-module list
text[NORMAL] = { 0.6, 0.7, 0.4 }
text[ACTIVE] = { 0.70, 0.70, 0.70 }
text[PRELIGHT] = { 0.90, 0.90, 0.90 }
text[INSENSITIVE] = { 0.80, 0.80, 0.80}
text[SELECTED] = { 1.0, 1.0, 1.0 }
#background midi-controller-module
base[ACTIVE] = { 0.90, 0.10, 0.10 }
base[NORMAL] = { 0.20, 0.30, 0.20 }
#background midi-controller-module checkbox
base[PRELIGHT] = { 0.70, 0.20, 0.20 }
base[INSENSITIVE] = "#4c5159"
base[SELECTED] = { 0.25, 0.25, 0.25 }
}

class "GtkHandleBox" style:highest "gx2_h_style"
#class "GtkScrolledWindow" style:highest "gx2_h_style"
widget_class "GtkDialog*" style:highest "gx2_h_style"
widget_class "*GtkToggleButton*" style:highest "gx2_b_style"
class "GtkButton" style:highest "gx2_b_style"
class "GtkSpinButton" style:highest "gx2_c_style"
widget "*.barbutton" style:highest "gxt_barbutton_style"
widget "*.barbuttonlabel" style:highest "gxt_barbutton_style"

style "tagx2_b_style"
{
#file-chooser background
bg[NORMAL] = { 0.40, 0.20, 0.20 }
bg[ACTIVE] = { 0.30, 0.40, 0.40 }
bg[PRELIGHT] = { 0.50, 0.60, 0.60 }
bg[SELECTED] = { 0.60, 0.60, 0.00 }

}


widget "*.tab_rack" style:highest "tagx2_b_style"

style "gx2_head_p_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "gx_green2.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = PRELIGHT
shadow = OUT
file = "gx_green1.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
}
fg[NORMAL] = { 0.9, 0.9, 0.9 }
fg[ACTIVE] = { 0.7, 0.7, 0.7 }
fg[PRELIGHT] = { 0.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.3, 0.3, 0.3 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "sans 7"
}

style "gx2_head_pa_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "gx_green2.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = PRELIGHT
shadow = OUT
file = "gx_green1.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = INSENSITIVE
shadow = OUT
file = "gx_green2.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
}
bg[NORMAL] = { 0.0, 0.0, 0.0 }

}

style "gx2_head_pair_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "gx_green2.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = PRELIGHT
shadow = OUT
file = "gx_green1.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = INSENSITIVE
shadow = OUT
file = "gx_green2.jpg"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
}
bg[NORMAL] = { 0.9, 0.0, 0.0 }

text[NORMAL] = { 0.90, 0.90, 0.90 }
text[ACTIVE] = { 0.80, 0.80, 0.80 }
text[PRELIGHT] = { 0.80, 0.80, 0.80 }
text[INSENSITIVE] = { 0.30, 0.30, 0.30}
text[SELECTED] = { 1.0, 1.0, 1.0 }
}

widget "*.effect_reset" style:highest "gx2_head_p_style"
widget "*.label_reset" style:highest "gx2_head_p_style"
widget_class "*GtkScrolledWindow*" style:highest "gx2_head_pa_style"
widget "*.rack_button" style:highest "gx2_head_pa_style"
widget_class "*GtkComboBox*" style:highest "gx2_head_pair_style"
