#
# This is the GTK rc style file for gx_head
#

include "common.rc"

style "gx_head_skin_icons"
{
  stock["bigknob"] = {{"knob9.png"}}
  stock["smallknob"] = {{"smallknob9.png"}}
  
}

class "GxKnob" style "gx_head_skin_icons"


style "gx_head-paintbox"
{
  GxPaintBox::skin-gradient = {
    {     0, 13107, 13107, 19661, 39322 }, # 0, 0.2,  0.2,  0.3,  0.6
    { 65536,  3277,  3277,  3277, 39322 }} # 1, 0.05, 0.05, 0.05, 0.6
}

class "GxPaintBox" style "gx_head-paintbox"

style "gx_head"
{


  GtkButton::default_border = { 0, 0, 0, 0 }
  GtkButton::default_outside_border = { 0, 0, 0, 0 }
  GtkButton::button_relief = GTK_RELIEF_NONE


  fg[NORMAL] = { 0.10, 0.10, 0.10 }
  fg[ACTIVE] = { 0.80, 0.80, 0.80 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.80, 0.80, 0.80 }
  fg[SELECTED] = { 0.80, 0.80, 0.80 }

  bg[NORMAL] = { 0.50, 0.50, 0.50 }
  bg[PRELIGHT] = "#303084"
  bg[ACTIVE] = { 0.0, 0.0, 0.0 }
  bg[INSENSITIVE] = "#c4c0c0"
  bg[SELECTED] = "#000094"


  text[NORMAL] = { 0.10, 0.10, 0.10 }
  text[ACTIVE] = { 0.80, 0.80, 0.80 }
  text[PRELIGHT] = { 0.80, 0.80, 0.80 }
  text[INSENSITIVE] = { 0.80, 0.80, 0.80}
  text[SELECTED] = { 1.0, 1.0, 1.0 }

  base[ACTIVE]     = "#272a2f"
  base[NORMAL]      =  "#1a1e20"
  base[PRELIGHT]     = { 0.20, 0.20, 0.20 }
  base[INSENSITIVE]  = "#4c5159"
  base[SELECTED]     = { 0.25, 0.25, 0.25 }
  font_name = "sans 10"

}


class "GtkWidget" style:highest "gx_head"
class "GtkLabel" style:highest "gx_head"
class "GtkHScale" style:highest "gx_head"
class "GtkVScale" style:highest "gx_head"
class "GtkCheckButton" style:highest "gx_head"
class "GtkButton" style:highest "gx_head"
class "GtkFrame" style:highest "gx_head"
class "GtkExpander" style:highest "gx_head"
#class "GtkEventBox" style:highest "gx_head"

style "gx_head-event"
{
 bg_pixmap[NORMAL] = "gx18.png"
}
widget "*.osc_box" style:highest "gx_head-event"
class "GtkEventBox" style:highest "gx_head-event"

style "gx_head-dialog"
{
 bg_pixmap[NORMAL] = "gx12b.png"
}

#widget_class "GtkDialog*" style:highest "gx_head-dialog"

style "gx_head-menu"
{
  fg[NORMAL] = { 0.80, 0.80, 0.80 }
  fg[PRELIGHT] = { 0.20, 0.20, 0.20 }
  
  bg[NORMAL] = { 0.30, 0.30, 0.30 }
  bg[PRELIGHT] = { 0.60, 0.60, 0.60 }
  bg[SELECTED] = { 0.60, 0.60, 0.60 }
  
  text[NORMAL] = { 0.50, 0.50, 0.50 }
  text[ACTIVE] = { 0.80, 0.80, 0.80 }
  
  base[ACTIVE]     = { 0.20, 0.20, 0.20 }
  base[NORMAL]      = { 0.80, 0.80, 0.80 } 
  base[PRELIGHT]     = { 0.20, 0.20, 0.20 }
  base[INSENSITIVE]  = "#4c5159"
  base[SELECTED]     = { 0.25, 0.25, 0.25 }
  font_name = "sans 9"
}

widget_class "*GtkMenu*" style:highest "gx_head-menu"
widget_class "*GtkMenuBar*" style:highest "gx_head-menu"

style "b_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "gx14b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "gx12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= ACTIVE
			shadow			= OUT
			file			= "gx14b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
}

style "c_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "gx12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}

	}
}

style "gx_head-l_black"
{
  fg[NORMAL] = 	{ 0.2, 0.2, 0.2 }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }
  font_name = "URW Chancery L Medium Italic 12"
}

style "gx_head-v_black"
{
  fg[NORMAL] = 	{ 0.1, 0.1, 0.1 }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }
  font_name = "URW Chancery L Medium Italic 12"
}

style "gx_head-b_black"
{
  fg[NORMAL] = 	{ 0.0, 0.0, 0.0 }
  fg[ACTIVE] = { 0.2, 0.2, 0.2 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }
  font_name = "sans 9"
}
widget "*.effekt_label" style:highest "gx_head-v_black"
widget "*.value_label" style:highest "gx_head-l_black"
widget "*.beffekt_label" style:highest "gx_head-b_black"


style "h_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "gx12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
	fg[NORMAL] = { 0.80, 0.80, 0.80 }
    bg[NORMAL] = { 0.0, 0.0, 0.0 }

    text[NORMAL] = { 0.80, 0.80, 0.80 }
	text[ACTIVE] = { 0.80, 0.80, 0.80 }
	text[PRELIGHT] = { 0.80, 0.80, 0.80 }
	text[INSENSITIVE] = { 0.80, 0.80, 0.80}
	text[SELECTED] = { 1.0, 1.0, 1.0 }

  base[ACTIVE]     = "#272a2f"
  base[NORMAL]      =  "#1a1e20"
  base[PRELIGHT]     = { 0.20, 0.20, 0.20 }
  base[INSENSITIVE]  = "#4c5159"
  base[SELECTED]     = { 0.25, 0.25, 0.25 }
}

class "GtkHandleBox" style:highest "h_style"
class "GtkScrolledWindow" style:highest "h_style"
widget_class "GtkDialog*" style:highest "h_style"
widget_class "*GtkToggleButton*" style:highest "b_style"
class "GtkButton" style:highest "b_style"
class "GtkSpinButton" style:highest "c_style"

style "p_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "gx12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
}
widget_class "*GtkProgressBar*" style:highest "p_style"

