#
# This is a GTK rc style file for gx_dezert
# made by Hartmut Z Noack (zettberlin@linuxuse.de) licensed GLPv2
# using the foto "2008-03-29 Lehigh Valley Zoo 022" made by Allie Caufield licensed CCBY 2.0
# Description: This hopefully readable skin tries to evoke dust, sand, rock and a sun burning als low as guitars tuned down to B... Enjoy the heat, muchachos!

include "common.rc"

style "gx_dezert_skin_icons"
{
# used knob icons
stock["bigknob"] = {{"knob9.png"}}
stock["smallknob"] = {{"smallknob9.png"}}
stock["smallknobr"] = {{"mittleknob9.png"}}
}

class "GxKnob" style "gx_dezert_skin_icons"


style "gx_dezert-paintbox"
{
# background effect modul in convert to cairo format values, eg. gdk value * 65536
#cairo format is: pattern position, r,g,b,alpha
GxPaintBox::skin-gradient = {
{ 0, 19661, 19661, 19661, 65536 }, # 0, 0.3, 0.3, 0.3, 1 
{ 32768, 9830, 9830, 9830, 65536 }, # 0.5, 0.15, 0.15, 1   
{ 65536, 6554, 6554, 6554, 65536 }} # 1, 0.1, 0.1, 0.1, 1
stock["gxhead"] = {{"gxhead.png"}}
}

class "GxPaintBox" style "gx_dezert-paintbox"

style "gx_dezert"
{


GtkButton::default_border = { 0, 0, 0, 0 }
GtkButton::default_outside_border = { 0, 0, 0, 0 }
GtkButton::button_relief = GTK_RELIEF_NONE

#strings in convolver-settings
fg[NORMAL] = { 0.02, 0.1, 0.01 }
fg[ACTIVE] = { 0.30, 0.20, 0.10 }
fg[PRELIGHT] = { 0.60, 0.70, 0.80 }
fg[INSENSITIVE] = { 0.60, 0.60, 0.70 }
fg[SELECTED] = { 0.70, 0.70, 0.70 }
#background of all windows (to be seen between racks and in the wave-view in the convolver-module)
bg[NORMAL] = { 0.55, 0.55, 0.50 }
bg[PRELIGHT] = { 0.60, 0.60, 0.80 }
#background scrollbars
bg[ACTIVE] = { 0.50, 0.50, 0.40 }
#Action-buttons in dialogs
bg[INSENSITIVE] = { 0.75, 0.7, 0.5 }
bg[SELECTED] = { 0.2, 0.2, 0.4 }

#gridlines in modules and text in filechooser
text[NORMAL] = { 0.20, 0.40, 0.50 }
#text in filechooser when active
text[ACTIVE] = { 0.30, 0.50, 0.80 }
# insensitive strings in convolver-module
text[INSENSITIVE] = { 0.40, 0.50, 0.50}
text[SELECTED] = { 1.0, 1.0, 1.0 }

base[ACTIVE] = { 0.60, 0.70, 0.70 }
#background in logging-window and in filechooser-filename
base[NORMAL] = { 0.70, 0.80, 0.80 }
base[PRELIGHT] = { 0.30, 0.20, 0.20 }
base[INSENSITIVE] = { 0.20, 0.20, 0.20 }
base[SELECTED] = { 0.25, 0.25, 0.25 }
font_name = "sans 10"

}


class "GtkWidget" style:highest "gx_dezert"
class "GtkLabel" style:highest "gx_dezert"
class "GtkHScale" style:highest "gx_dezert"
class "GtkVScale" style:highest "gx_dezert"
class "GtkCheckButton" style:highest "gx_dezert"
#class "GtkButton" style:highest "gx_dezert"
class "GtkFrame" style:highest "gx_dezert"
class "GtkExpander" style:highest "gx_dezert"
#class "GtkEventBox" style:highest "gx_dezert"

style "gx_dezert-event"
{
# main window background pixmap
bg_pixmap[NORMAL] = "gx-dezert_18.png"
}
widget "*.osc_box" style:highest "gx_dezert-event"
widget "*.main_window" style:highest "gx_dezert-event"

style "gx_dezert-dialog"
{
# back and forground colours for all dialog widows
 bg[NORMAL] = { 0.2, 0.2, 0.1}
 text[NORMAL] = { 0.40, 0.40, 0.50 }
}

style "gx_dezert_black_box"
{
# background colour for effectbox used to grep X-events in the rack
 bg[NORMAL] = { 0, 0, 0}
}
widget "*.black_box" style:highest "gx_dezert_black_box"

style "gx_dezert_gree_box"
{
# background colour for the effectbox around the midi led
 bg[NORMAL] = { 0.3, 0.3, 0.3}
}
widget "*.gree_box" style:highest "gx_dezert_gree_box"

style "gx_dezert_dark_box"
{
# background colour for the effectbox around the volume knob in the midi out modul 
 bg[NORMAL] = { 0.1, 0.1, 0.2}
}
widget "*.dark_box" style:highest "gx_dezert_dark_box"

style "gx_dezert_darker_box"
{
# background colour for the effectbox around the tree midi led's
 bg[NORMAL] = { 0.05, 0.05, 0.04}
}

widget "*.darker_box" style:highest "gx_dezert_darker_box"


widget_class "GtkDialog*" style:highest "gx_dezert-dialog"

style "gx_dezert-menu"
{
#text in menues
fg[NORMAL] = { 0.20, 0.10, 0.10 }
fg[PRELIGHT] = { 0.20, 0.20, 0.50 }
#buttons-borders in menues and main-menue-background
bg[NORMAL] = { 0.70, 0.70, 0.70 }
bg[PRELIGHT] = { 0.80, 0.70, 0.90 }
bg[SELECTED] = { 0.60, 0.60, 0.60 }
#arrows in menues
text[NORMAL] = { 0.60, 0.50, 0.50 }
#indicator in the radio meu
text[ACTIVE] = { 0.20, 0.00, 0.20 }

#Action-buttons in dialogs
base[ACTIVE] = { 0.50, 0.40, 0.50 }
#buttons-background in menues
base[NORMAL] = { 0.60, 0.80, 0.80 }
base[PRELIGHT] = { 0.60, 0.50, 0.40 }
base[INSENSITIVE] = { 0.60, 0.60, 0.70 }
base[SELECTED] = { 0.25, 0.25, 0.25 }
font_name = "sans 9"
}

widget_class "*GtkMenu*" style:highest "gx_dezert-menu"
widget_class "*GtkMenuBar*" style:highest "gx_dezert-menu"

style "gx_dezert_b_style"
{
# pixmap for toggle button and ordinary buttons
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "gx_dezert_14b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "gx_dezert_12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= ACTIVE
			shadow			= OUT
			file			= "gx_dezert_14b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
}

style "dezert_c_style"
{
# pixmap for spinbuttons
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "gx_dezert_12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}

	}
}

style "gx_dezert-l_black"
{
# label color for all value labes
  fg[NORMAL] = 	{ 0., 0., 0. }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }
  font_name = "URW Chancery L Medium Italic 12"
}


style "gx_dezert-v_black"
{
#strings main window
fg[NORMAL] = { 0.20, 0.25, 0.1 }
fg[ACTIVE] = { 0.8, 0.8, 0.8 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.5, 0.4, 0.7 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "URW Chancery L Medium Italic 12"
}

style "gx_dezert-b_black"
{
#strings main window set/run-buttons, tone and more
fg[NORMAL] = { 0.00, 0.20, 0.30 }
fg[ACTIVE] = { 0.2, 0.2, 0.2 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.1, 0.0, 0.0 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "sans 12"
}

style "gx_dezert-rack"
{
#text for fx-parameter-captions
fg[NORMAL] = { 0.6, 0.8, 0.8 }
fg[ACTIVE] = { 0.2, 0.2, 0.2 }
fg[PRELIGHT] = { 0.50, 0.60, 0.60 }
fg[INSENSITIVE] = { 0.1, 0.1, 0.1 }
font_name = "URW Chancery L Medium Italic 12"
}

style "gx_dezert_rack-slider"
{
#Strings for EQ-Slider-values
fg[NORMAL] = { 0.5, 0.7, 0.8 }
fg[ACTIVE] = { 0.2, 0.2, 0.2 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
font_name = "sans 6"
}

style "gx3_barbutton_style"
{

  bg[ACTIVE] = { 0.5, 0.5, 0.4 }
  bg[PRELIGHT] = { 0.40, 0.50, 0.60 }

  fg[NORMAL] = "#f1eded"
  fg[ACTIVE] = "#111111"
  fg[PRELIGHT] =  { 0.90, 0.90, 0.90 }
}

widget "*.barbutton" style:highest "gx3_barbutton_style"
widget "*.barbuttonlabel" style:highest "gx3_barbutton_style"

widget "*.effekt_label" style:highest "gx_dezert-v_black"
widget "*.value_label" style:highest "gx_dezert-l_black"
widget "*.beffekt_label" style:highest "gx_dezert-b_black"
widget "*.rack_label" style:highest "gx_dezert-rack"
widget "*.rack_slider" style:highest "gx_dezert_rack-slider"
widget "*.rack_regler" style:highest "gx_rack-slider"

style "dezert_h_style"
{
# background pixmap for buttons in dialog widgets
engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "gx_dezert_12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}

# background colour racks
bg[NORMAL] = { 0.5, 0.5, 0.4 }
bg[ACTIVE] = { 0.40, 0.50, 0.60 }
bg[PRELIGHT] = { 0.50, 0.60, 0.60 }
# slider base
base[SELECTED] = { 0.4, 0.35, 0.25 }
base[NORMAL] = { 0.5, 0.5, 0.25 }
# slider caption
fg[NORMAL] = { 0.6, 0.6, 0.5 }
text[NORMAL] = { 0.30, 0.30, 0.30 }
text[SELECTED] = { 0.10, 0.10, 0.20 }
}

class "GtkHandleBox" style:highest "dezert_h_style"
#class "GtkScrolledWindow" style:highest "dezert_h_style"
widget_class "GtkDialog*" style:highest "dezert_h_style"
widget_class "*GtkToggleButton*" style:highest "gx_dezert_b_style"
class "GtkButton" style:highest "gx_dezert_b_style"
class "GtkSpinButton" style:highest "dezert_c_style"

style "dezert_tab_style"
{
# backgrounds for midi tab box
  bg[NORMAL] = { 0.20, 0.20, 0.20 }
  bg[ACTIVE] = { 0.40, 0.40, 0.40 }
  bg[PRELIGHT] = { 0.60, 0.60, 0.60 }
  bg[SELECTED] = { 0.60, 0.60, 0.60 }
  
}

widget "*.tab_rack" style:highest "dezert_tab_style"

style "gx_dezert_p_style"
{
# background pixmap for reset and order buttons
	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "gx_dezert_14b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "gx_dezert_12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= INSENSITIVE
			shadow			= OUT
			file			= "gx_dezert_12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
#back- and for-ground color for reset and order buttons
	bg[NORMAL] = { 0.8, 0.8, 0.7 }
	text[NORMAL] = { 0.20, 0.20, 0.30 }
	fg[NORMAL] = { 0.9, 0.9, 0.9 }
	fg[ACTIVE] = { 0.7, 0.7, 0.7 }
	fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
	fg[INSENSITIVE] = { 0.3, 0.3, 0.3 }
	fg[SELECTED] = { 0.8, 0.8, 0.8 }
	font_name = "sans 7"
}

style "gx_dezert_pa_style"
{
# background pixmap for scrollbar and buttons in the racks
engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "gx_dezert_14b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "gx_dezert_12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= INSENSITIVE
			shadow			= OUT
			file			= "gx_dezert_12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
#background rack-window, filechooser and
	bg[NORMAL] = { 0.8, 0.8, 0.65 }
	text[NORMAL] = { 0.20, 0.20, 0.30 }
}

style "gx_dezert_pair_style"
{
# background pixmap for the combobox in the convolver widget
	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "gx_dezert_12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "gx_dezert_12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= INSENSITIVE
			shadow			= OUT
			file			= "gx_dezert_12b.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
#background File-name-spinbox convolver-module
	bg[NORMAL] = { 0.6, 0.7, 0.8 }
#text File-name-spinbox convolver-module
	text[NORMAL] = { 0.20, 0.20, 0.30 }
	text[ACTIVE] = { 0.80, 0.80, 0.80 }
	text[PRELIGHT] = { 0.80, 0.00, 0.20 }
	text[INSENSITIVE] = { 0.30, 0.30, 0.30}
	text[SELECTED] = { 1.0, 1.0, 1.0 }
}

widget "*.effect_reset" style:highest "gx_dezert_p_style"
widget "*.label_reset" style:highest "gx_dezert_p_style"
widget_class "*GtkScrolledWindow*" style:highest "gx_dezert_pa_style"
widget "*.rack_button" style:highest "gx_dezert_pa_style"
widget_class "*GtkComboBox*" style:highest "gx_dezert_pair_style"



