#
# This is the GTK rc style file for gx_head_grass
#

include "common.rc"

style "guitarix_iredit"
{
  text[NORMAL] = { 0.60, 0.60, 0.60 }
}

style "gx_head_grass_skin_icons"
{
  stock["bigknob"] = {{"tactile_knob_large_151f.png"}}
  stock["smallknob"] = {{"tactile_knob_small_99f.png"}}
  stock["smallknobr"] = {{"tactile_knob_medium_151f.png"}}
}

class "*GxKnob" style "gx_head_grass_skin_icons"

style "gx2_head_skin_knob_animation"
{

GxKnob::framecount = 0 # use 0 for auto (assumes square frames)
                            #  and >1 for non squareframe animations
}
class "*GxKnob" style "gx2_head_skin_knob_animation"

style "gx1_head_wheel_icons"
{
stock["wheel_back"] = {{"tactile_wheel_101f.png"}}

GxWheel::framecount = 101 # use 0 for auto (assumes square frames)
                            #  and >1 for non squareframe animations
}

class "*GxWheel" style "gx1_head_wheel_icons"

style "gx1_head_wheel_vertical_icons"
{
stock["wheel_vertical_back"] = {{"tactile_h_wheel_101f.png"}}

GxWheelVertical::framecount = 101 # use 0 for auto (assumes square frames)
                            #  and >1 for non squareframe animations
}

class "*GxWheelVertical" style "gx1_head_wheel_vertical_icons"

style "gx2_head_skin_switch_icons"
{
stock["switch_on"] = {{"tactile_backlit_switch_on.png"}}
stock["switch_off"] = {{"tactile_backlit_switch_off.png"}}
}


class "*GxToggleImage" style "gx2_head_skin_switch_icons"




style "gx_head_grass-paintbox"
{
  GxPaintBox::box-gradient = {
    { 65536, 830, 19661, 19830, 35536 }, 
    { 32768, 554, 9830, 9554, 55536 }, 
    { 0, 554, 554, 554, 5536 }} 
	
  GxPaintBox::skin-gradient = {
    { 0, 554, 9830, 9554, 55536 }} 
	
  GxPaintBox::rack-gradient = {
    { 65536, 0, 0, 2768, 52428 }, # 1, 0, 0, 0.2, 0.9
	{ 52428, 0, 0, 3107, 52428 }, # 0.8, 0, 0, 0, 0.8
	{ 13107, 0, 0, 0, 42428 }} # 0.2, 0, 0, 0.2, 0.8 

  GxPaintBox::width =600
  GxPaintBox::height =180
  stock["main_image"] = {{"gx_steal.png"}}
  stock["gxhead"] = {{"gx_steal.png"}}
  GxPaintBox::icon-set =9
}

class "*GxPaintBox" style "gx_head_grass-paintbox"

style "gx_head_grass"
{


  GtkButton::default_border = { 0, 0, 0, 0 }
  GtkButton::default_outside_border = { 0, 0, 0, 0 }
  GtkButton::button_relief = GTK_RELIEF_NONE


  fg[NORMAL] = { 0.6, 0.6, 0.6 }
  fg[ACTIVE] = { 1.0, 1.0, 1.0 }
  fg[PRELIGHT] = { 0.90, 0.90, 0.90 }
  fg[INSENSITIVE] = { 0.80, 0.80, 0.80 }
  fg[SELECTED] = { 0.70, 0.70, 0.70 }

  bg[NORMAL] = { 0.0, 0.0, 0.0 }
  bg[PRELIGHT] = "#303084"
  bg[ACTIVE] = { 0.0, 0.0, 0.0 }
  bg[INSENSITIVE] = "#c4c0c0"
  bg[SELECTED] = "#000094"


  text[NORMAL] = { 0.10, 0.10, 0.10 }
  text[ACTIVE] = { 0.80, 0.80, 0.80 }
  text[PRELIGHT] = { 0.80, 0.80, 0.80 }
  text[INSENSITIVE] = { 0.80, 0.80, 0.80}
  text[SELECTED] = { 1.0, 1.0, 1.0 }

  base[ACTIVE]     = "#272a2f"
  base[NORMAL]      =  { 0.70, 0.70, 0.70 }
  base[PRELIGHT]     = { 0.20, 0.20, 0.20 }
  base[INSENSITIVE]  = "#4c5159"
  base[SELECTED]     = { 0.25, 0.25, 0.25 }
  font_name = "sans 10"

}


class "*GtkWidget" style:highest "gx_head_grass"
class "*GtkLabel" style:highest "gx_head_grass"
class "*GtkHScale" style:highest "gx_head_grass"
class "*GtkVScale" style:highest "gx_head_grass"
class "*GtkCheckButton" style:highest "gx_head_grass"
class "*GtkButton" style:highest "gx_head_grass"
class "*GtkFrame" style:highest "gx_head_grass"
class "*GtkExpander" style:highest "gx_head_grass"
#class "*GtkEventBox" style:highest "gx_head_grass"

style "gx_head_grass-event"
{
 bg_pixmap[NORMAL] = "gx_steal.png"
}
widget "*.osc_box" style:highest "gx_head_grass-event"
widget "*.main_window" style:highest "gx_head_grass-event"

style "gx_head_grass-dialog"
{
 bg_pixmap[NORMAL] = "grass2.png"
}

style "gx_head_black_box"
{
 bg[NORMAL] = { 0, 0, 0}
}
widget "*.black_box" style:highest "gx_head_black_box"

style "gx_head_gree_dark_box"
{
 bg[NORMAL] = { 0.3, 0.3, 0.3}
}
widget "*.gree_box" style:highest "gx_head_gree_dark_box"

style "gx_head_grass_dark_box"
{
 bg[NORMAL] = { 0.1, 0.1, 0.2}
}
widget "*.dark_box" style:highest "gx_head_grass_dark_box"

style "gx_head_grass_darker_box"
{
 bg[NORMAL] = { 0.05, 0.05, 0.1}
}
widget "*.darker_box" style:highest "gx_head_grass_darker_box"

style "gx_head_grass_amp_selector"
{
 fg[NORMAL] = "#737378"
 font_name = "sans 7.5 bold"
}
widget "*.amp_selector" style:highest "gx_head_grass_amp_selector"
#widget_class "GtkDialog*" style:highest "gx_head_grass-dialog"

style "gx_head_grass-menu"
{
  fg[NORMAL] = { 0.80, 0.80, 0.80 }
  fg[PRELIGHT] = { 0.70, 0.80, 0.80 }
  
  bg[NORMAL] = { 0.30, 0.40, 0.40 }
  bg[PRELIGHT] = { 0.10, 0.20, 0.20 }
  bg[SELECTED] = { 0.10, 0.20, 0.20 }
  
  text[NORMAL] = { 0.50, 0.50, 0.50 }
  text[ACTIVE] = { 0.80, 0.80, 0.80 }
  
  base[ACTIVE]     = { 0.20, 0.20, 0.20 }
  base[NORMAL]      = { 0.80, 0.80, 0.80 } 
  base[PRELIGHT]     = { 0.20, 0.20, 0.20 }
  base[INSENSITIVE]  = "#4c5159"
  base[SELECTED]     = { 0.25, 0.25, 0.25 }
  font_name = "sans 9"
  engine "pixmap" {
    image 
      {
        function        = BOX
		recolorable     = TRUE
		shadow			= OUT
		file            = "menu1.png"
		border          = { 2, 2, 2, 2 }
		stretch         = TRUE
      }
  }
}

widget_class "*GtkMenu*" style:highest "gx_head_grass-menu"
widget_class "*GtkMenuBar*" style:highest "gx_head_grass-menu"

style "gx_head_grass_b_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "grass2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "grass1.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= ACTIVE
			shadow			= IN
			file			= "grass3.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			shadow			= IN
			file			= "black2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
	bg[ACTIVE] = "#43434f"
	fg[NORMAL] = { 0.70, 0.70, 0.70 }
	fg[ACTIVE] = "#d6d6d6"
	fg[PRELIGHT] =  { 0.90, 0.90, 0.90 }
}

style "gx_head_grass_c_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "grass2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}

	}
}

style "gx_head_grass-l_black"
{
  fg[NORMAL] = 	{ 0., 0., 0. }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }
  font_name = "URW Chancery L Medium Italic 12"
}

style "gx_head_grass-v_black"
{
  fg[NORMAL] = 	{ 0., 0., 0. }
  fg[ACTIVE] = { 0.8, 0.8, 0.8 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }
  font_name = "URW Chancery L Medium Italic 12"
}

style "gx_head_grass-b_black"
{
  fg[NORMAL] = "#e2dcdc"
  fg[ACTIVE] = { 0.2, 0.2, 0.2 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }
  font_name = "sans 9"
}

style "gx_head_grass-rack"
{
  fg[NORMAL] = "#e2dcdc"
  fg[ACTIVE] = { 0.2, 0.2, 0.2 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }
  font_name = "URW Chancery L Medium Italic 12"
}

style "gx_head_grass_rack_slider"
{
  fg[NORMAL] = 	{ 0.7, 0.7, 0.7 }
  fg[ACTIVE] = { 0.2, 0.2, 0.2 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }
  font_name = "sans 6"
}

style "gx_head_grass_barbutton_style"
{

  bg[ACTIVE] = "#49495a"
  bg[PRELIGHT] ="#262640"

  fg[NORMAL] = "#f1eded"
  fg[ACTIVE] = "#c5c5c5"
  fg[PRELIGHT] = "#ede9e9"
}

widget "*.barbutton" style:highest "gx_head_grass_barbutton_style"
widget "*.barbuttonlabel" style:highest "gx_head_grass_barbutton_style"

widget "*.effekt_label" style:highest "gx_head_grass-v_black"
widget "*.value_label" style:highest "gx_head_grass-l_black"
widget "*.beffekt_label" style:highest "gx_head_grass-b_black"
widget "*.rack_label" style:highest "gx_head_grass-rack"
widget "*.rack_effect_label" style:highest "gx_head_grass-b_black"
widget "*.rack_slider" style:highest "gx_head_grass_rack_slider"
widget "*.rack_regler" style:highest "gx_head_grass_rack_slider"

style "gx_head_grass_h_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "grass2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
	fg[NORMAL] = { 0.30, 0.30, 0.30 }
	
    bg[NORMAL] = { 0.0, 0.0, 0.0 }

    text[NORMAL] = { 0.80, 0.80, 0.80 }
	text[ACTIVE] = { 0.70, 0.70, 0.70 }
	text[PRELIGHT] = { 0.90, 0.90, 0.90 }
	text[INSENSITIVE] = { 0.80, 0.80, 0.80}
	text[SELECTED] = { 1.0, 1.0, 1.0 }

  base[ACTIVE]     = "#272a2f"
  base[NORMAL]      =  { 0.10, 0.10, 0.10 }
  base[PRELIGHT]     = { 0.20, 0.20, 0.20 }
  base[INSENSITIVE]  = "#4c5159"
  base[SELECTED]     = { 0.25, 0.25, 0.25 }
}

class "*GtkHandleBox" style:highest "gx_head_grass_h_style"
#class "*GtkScrolledWindow" style:highest "gx_head_grass_h_style"
widget_class "*GtkDialog*" style:highest "gx_head_grass_h_style"
widget_class "*GtkToggleButton*" style:highest "gx_head_grass_b_style"
class "*GtkButton" style:highest "gx_head_grass_b_style"
class "*GtkSpinButton" style:highest "gx_head_grass_c_style"

style "gx_head_grass_tagx_head_grass_b_style"
{

  bg[NORMAL] = { 0.20, 0.20, 0.20 }
  bg[ACTIVE] = { 0.40, 0.40, 0.40 }
  bg[PRELIGHT] = { 0.60, 0.60, 0.60 }
  bg[SELECTED] = { 0.60, 0.60, 0.60 }
 
    engine "pixmap" 
    {
		image 
		{
			function        = EXTENSION
			recolorable     = TRUE
			state           = ACTIVE
			file            = "grass3.png"
			border          = { 2, 3, 2, 1 }
			stretch         = TRUE
			gap_side        = BOTTOM
		}
		image 
		{
			function        = EXTENSION
			recolorable     = TRUE
			state           = NORMAL
			file            = "grass2.png"
			border          = { 2, 3, 2, 0 }
			stretch         = TRUE
			gap_side        = BOTTOM
		}
    }
 
}


widget "*.tab_rack" style:highest "gx_head_grass_tagx_head_grass_b_style"

style "gx_head_grass_p_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "grass2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "grass1.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= INSENSITIVE
			shadow			= OUT
			file			= "grass1.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
	fg[NORMAL] = { 0.9, 0.9, 0.9 }
	fg[ACTIVE] = { 0.7, 0.7, 0.7 }
	fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
	fg[INSENSITIVE] = { 0.3, 0.3, 0.3 }
	fg[SELECTED] = { 0.8, 0.8, 0.8 }
	font_name = "sans 7"
}

style "gx_head_grass_pa_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "grass2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "grass1.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= INSENSITIVE
			shadow			= OUT
			file			= "grass2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			file			= "black2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
        {
                function = BOX
                detail = "vscrollbar"
        }
        image
		{
			function		= SLIDER
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "grass2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= SLIDER
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "grass1.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= SLIDER
			recolorable		= TRUE
			state			= ACTIVE
			shadow			= OUT
			file			= "grass1.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
        image
		{
			function		= SLIDER
			recolorable		= TRUE
			shadow			= IN
			file			= "grass2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}

	}
	bg[NORMAL] 				= { 0.0, 0.0, 0.0 }
    base[NORMAL]      		= { 0.30, 0.40, 0.40 }
	text[NORMAL] 			= { 0.90, 0.90, 0.90 }
	
}

style "gx_head_grass_pair_style"
{
 	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
			shadow			= OUT
			file			= "grass2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			shadow			= OUT
			file			= "grass1.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= INSENSITIVE
			shadow			= OUT
			file			= "grass2.png"
			border			= { 0, 0, 0, 0 }
			stretch			= TRUE
		}
	}
	bg[NORMAL] = { 0.0, 0.0, 0.0 }
	
	text[NORMAL] = { 0.90, 0.90, 0.90 }
	text[ACTIVE] = { 0.80, 0.80, 0.80 }
	text[PRELIGHT] = { 0.80, 0.80, 0.80 }
	text[INSENSITIVE] = { 0.30, 0.30, 0.30}
	text[SELECTED] = { 1.0, 1.0, 1.0 }
}

widget "*.effect_reset" style:highest "gx_head_grass_p_style"
widget "*.label_reset" style:highest "gx_head_grass_p_style"
widget_class "*GtkScrolledWindow*" style:highest "gx_head_grass_pa_style"
widget "*.rack_button" style:highest "gx_head_grass_pa_style"
widget_class "*GtkComboBox*" style:highest "gx_head_grass_pair_style"

style "gx_head_grass-rack-group"
{
  fg[NORMAL] = 	{ 0.7, 0.7, 0.7 }
  fg[ACTIVE] = { 0.2, 0.2, 0.2 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
  fg[SELECTED] = { 0.8, 0.8, 0.8 }
  font_name = "sans Bold 8"
}

widget "*.MonoBox.*GtkLabel" style:highest "gx_head_grass-rack"
widget "*.*GtkFrame.*GtkLabel" style:highest "gx_head_grass-rack-group"
widget "*.*GtkToolPalette.*GtkLabel" style:highest "gx_head_grass-rack-group"

style "gx_head_grass_preset"
{
	bg[NORMAL] 				= { 0.3, 0.4, 0.4 }
	bg[SELECTED] 			= { 0.1, 0.1, 0.1 }
    base[NORMAL]      		= { 0.3, 0.4, 0.4 }
    base[SELECTED]      	= { 0.1, 0.1, 0.1 }
	text[NORMAL] 			= { 0.9, 0.9, 0.9 }
}
widget "*.PresetView" style:highest "gx_head_grass_preset"
