#
# This is the GTK rc style file for gx4_head
#

include "common.rc"

style "guitarix_iredit"
{
  text[NORMAL] = { 0.60, 0.60, 0.60 }
}

style "gx4_head_skin_icons"
{
stock["bigknob"] = {{"tactile_knob_large_151f.png"}}
stock["smallknob"] = {{"tactile_knob_small_99f.png"}}
stock["smallknobr"] =  {{"tactile_knob_medium_151f.png"}}
}

class "*GxKnob" style "gx4_head_skin_icons"

style "gx4_head_skin_switch_icons"
{
stock["switch_on"] = {{"tactile_backlit_switch_on.png"}}
stock["switch_off"] = {{"tactile_backlit_switch_off.png"}}
}

class "*GxToggleImage" style "gx4_head_skin_switch_icons"


style "gx4_head_skin_knob_animation"
{

GxKnob::framecount = 0 # use 0 for auto (assumes square frames),
                            # 1 for static bg and >1 for non squareframe
                            #  animations
}

class "*GxKnob" style "gx4_head_skin_knob_animation"

style "gx2_head_wheel_icons"
{
stock["wheel_back"] = {{"tactile_wheel_101f.png"}}

GxWheel::framecount = 101 # use 0 for auto (assumes square frames)
                            #  and >1 for non squareframe animations
}

class "*GxWheel" style "gx2_head_wheel_icons"

style "gx2_head_wheel_vertical_icons"
{
stock["wheel_vertical_back"] = {{"tactile_h_wheel_101f.png"}}

GxWheelVertical::framecount = 101 # use 0 for auto (assumes square frames)
                            #  and >1 for non squareframe animations
}

class "*GxWheelVertical" style "gx2_head_wheel_vertical_icons"

style "gx4_head-paintbox"
{
GxPaintBox::skin-gradient = {
{ 0, 983, 983, 983, 65536 }, # 0, 0.3, 0.3, 0.3 ,1 
{ 32768, 6554, 6554, 6554, 65536 }, # 0.5, 0.15, 0.15, 0.15, 1
{ 65536, 6554, 6554, 6554, 65536 }} # 1, 0.1, 0.1, 0.1, 1  
	
  GxPaintBox::box-gradient = {
    { 65536, 0, 0, 0, 52428 }, # 1, 0, 0, 0., 0.8
	{ 52428, 0, 0, 0, 52428 }, # 0.8, 0, 0, 0, 0.8
	{ 13107, 0, 0, 0, 13107 }} # 0.2, 0, 0, 0., 0.2 

  GxPaintBox::rack-gradient = {
    { 65536, 0, 0, 0, 52428 }, # 1, 0, 0, 0.2, 0.9
	{ 52428, 0, 0, 0, 52428 }, # 0.8, 0, 0, 0, 0.8
	{ 13107, 0, 0, 0, 52428 }} # 0.2, 0, 0, 0.2, 0.8 

  GxPaintBox::width =600
  GxPaintBox::height =180
  stock["main_image"] = {{"gx_black18.png"}}
stock["gxhead"] = {{"gx_black18.png"}}
GxPaintBox::icon-set =4
}

class "*GxPaintBox" style "gx4_head-paintbox"

style "gx4_head"
{


GtkButton::default_border = { 0, 0, 0, 0 }
GtkButton::default_outside_border = { 0, 0, 0, 0 }
GtkButton::button_relief = GTK_RELIEF_NONE

#strings in modules
fg[NORMAL] = { 0.8, 0.8, 0.8 }
fg[ACTIVE] = { 1.0, 1.0, 1.0 }
fg[PRELIGHT] = { 0.90, 0.90, 0.90 }
fg[INSENSITIVE] = { 0.80, 0.80, 0.80 }
fg[SELECTED] = { 0.70, 0.70, 0.70 }
#background in modules
bg[NORMAL] = { 0.020, 0.020, 0.010 }
bg[PRELIGHT] = "#303084"
bg[ACTIVE] = { 0.0, 0.0, 0.0 }
bg[INSENSITIVE] = "#c4c0c0"
bg[SELECTED] = "#000094"

#gridlines in modules
text[NORMAL] = { 0.00, 0.10, 0.10 }
text[ACTIVE] = { 0.00, 0.80, 0.80 }
text[PRELIGHT] = { 0.80, 0.80, 0.80 }
text[INSENSITIVE] = { 0.80, 0.80, 0.80}
text[SELECTED] = { 1.0, 1.0, 1.0 }

base[ACTIVE] = "#272a2f"
base[NORMAL] = { 0.70, 0.70, 0.70 }
base[PRELIGHT] = { 0.20, 0.20, 0.20 }
base[INSENSITIVE] = "#4c5159"
base[SELECTED] = { 0.25, 0.25, 0.25 }
font_name = "sans 10"

}


class "*GtkWidget" style:highest "gx4_head"
class "*GtkLabel" style:highest "gx4_head"
class "*GtkHScale" style:highest "gx4_head"
class "*GtkVScale" style:highest "gx4_head"
class "*GtkCheckButton" style:highest "gx4_head"
class "*GtkButton" style:highest "gx4_head"
class "*GtkFrame" style:highest "gx4_head"
class "*GtkExpander" style:highest "gx4_head"
#class "*GtkEventBox" style:highest "gx4_head"

style "gx4_head-event"
{
bg_pixmap[NORMAL] = "gx_black18.png"
}
widget "*.osc_box" style:highest "gx4_head-event"
widget "*.main_window" style:highest "gx4_head-event"

style "gx4_head-dialog"
{
bg_pixmap[NORMAL] = "black1.png"
}

style "gx4_black_box"
{
bg[NORMAL] = { 0, 0, 0}
}
widget "*.black_box" style:highest "gx4_black_box"

style "gx4_gree_box"
{
bg[NORMAL] = { 0.02, 0.015, 0.02}
}
widget "*.gree_box" style:highest "gx4_gree_box"

style "gx4_dark_box"
{
bg[NORMAL] = { 0.25, 0.15, 0.15}
}
widget "*.dark_box" style:highest "gx4_dark_box"

style "gx4_darker_box"
{
bg[NORMAL] = { 0.1, 0.05, 0.05}
}
widget "*.darker_box" style:highest "gx4_darker_box"

style "gx4_amp_selector"
{
 fg[NORMAL] = { 0.6, 0.6, 0.6}
 font_name = "sans 7.5 bold"
}
widget "*.amp_selector" style:highest "gx4_amp_selector"

#widget_class "*GtkDialog*" style:highest "gx4_head-dialog"

style "gx4_head-menu"
{
#text in menues
fg[NORMAL] = { 0.80, 0.60, 0.80 }
fg[PRELIGHT] = { 0.6, 0.8, 0.6 }
#buttons-borders in menues
bg[NORMAL] = { 0.10, 0.20, 0.10 }
bg[PRELIGHT] = { 0.0, 0.0, 0.0 }
bg[SELECTED] = { 0.10, 0.10, 0.10 }
#arrows in menues
text[NORMAL] = { 0.20, 0.0, 0.50 }
text[ACTIVE] = { 0.80, 0.80, 0.80 }
text[PRELIGHT] = { 0.0, 0.0, 0.0 }

base[ACTIVE] = { 0.020, 0.80, 0.020 }
#buttons-background in menues
base[NORMAL] = { 0.60, 0.80, 0.80 }
base[PRELIGHT] = { 0.20, 0.20, 0.20 }
base[INSENSITIVE] = "#4c5159"
base[SELECTED] = { 0.25, 0.25, 0.25 }
font_name = "sans 9"
  engine "pixmap" {
    image 
      {
        function        = BOX
		recolorable     = TRUE
		shadow			= OUT
		file            = "menu1.jpg"
		border          = { 2, 2, 2, 2 }
		stretch         = TRUE
      }
  }
}

widget_class "*GtkMenu*" style:highest "gx4_head-menu"
widget_class "*GtkMenuBar*" style:highest "gx4_head-menu"

style "gx4_b_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "black2.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = PRELIGHT
shadow = OUT
file = "black1.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = ACTIVE
shadow = OUT
file = "black2.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function		= BOX
recolorable		= TRUE
shadow			= IN
file			= "black2.png"
border			= { 0, 0, 0, 0 }
stretch			= TRUE
}
}
fg[NORMAL] = { 0.70, 0.70, 0.70 }
fg[ACTIVE] = "#d6d6d6"
fg[PRELIGHT] =  { 0.90, 0.90, 0.90 }
bg[ACTIVE] = "#58b45e"
}

style "gx4_barbutton_style"
{

bg[ACTIVE] = { 0.2, 0.2, 0.2 }

bg[PRELIGHT] = { 0.1, 0.1, 0.1 }

fg[NORMAL] = { 0.5, 0.5, 0.5 }
fg[ACTIVE] = { 0.6, 0.8, 0.6 }
fg[PRELIGHT] = { 0.8, 0.6, 0.8 }

}

style "gx4_c_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "black1.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}

}
}

style "gx4_head-l_black"
{
fg[NORMAL] = { 0.9, 0.9, 0.9 }
fg[ACTIVE] = { 0.8, 0.8, 0.8 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "URW Chancery L Medium Italic 12"
}

style "gx4_head-v_black"
{
fg[NORMAL] = { 0.8, 0.8, 0.8 }
fg[ACTIVE] = { 0.8, 0.8, 0.8 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.8, 0.8, 0.8 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "URW Chancery L Medium Italic 12"
}

style "gx4_head-b_black"
{
fg[NORMAL] = { 0.4, 0.6, 0.4 }
fg[ACTIVE] = { 0.2, 0.2, 0.2 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.1, 0.0, 0.0 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "sans 9"
}

style "gx4_head-rack"
{
#text for fx-parameter-captions
fg[NORMAL] = { 0.6, 0.8, 0.7 }
fg[ACTIVE] = { 0.2, 0.2, 0.2 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "URW Chancery L Medium Italic 12"
}

style "gx4_rack-slider"
{
fg[NORMAL] = { 0.7, 0.7, 0.7 }
fg[ACTIVE] = { 0.2, 0.2, 0.2 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "sans 6"
}

widget "*.effekt_label" style:highest "gx4_head-v_black"
widget "*.value_label" style:highest "gx4_head-l_black"
widget "*.beffekt_label" style:highest "gx4_head-b_black"
widget "*.rack_label" style:highest "gx4_head-rack"
widget "*.rack_effect_label" style:highest "gx4_head-rack"
widget "*.rack_slider" style:highest "gx4_rack-slider"
widget "*.rack_regler" style:highest "gx4_rack-slider"
widget "*.barbutton" style:highest "gx4_barbutton_style"
widget "*.barbuttonlabel" style:highest "gx4_barbutton_style"


style "gx4_h_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "black1.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
}
#text midi-controller-module
fg[NORMAL] = { 0.60, 0.70, 0.60 }
#border midi-controller-module
bg[NORMAL] = { 0.09, 0.09, 0.07 }
#text midi-controller-module list
text[NORMAL] = { 0.6, 0.7, 0.4 }
text[ACTIVE] = { 0.70, 0.70, 0.70 }
text[PRELIGHT] = { 0.90, 0.90, 0.90 }
text[INSENSITIVE] = { 0.80, 0.80, 0.80}
text[SELECTED] = { 1.0, 1.0, 1.0 }
#background midi-controller-module
base[ACTIVE] = { 0.090, 0.010, 0.010 }
base[NORMAL] = { 0.20, 0.30, 0.20 }
#background midi-controller-module checkbox
base[PRELIGHT] = { 0.70, 0.20, 0.20 }
base[INSENSITIVE] = "#4c5159"
base[SELECTED] = { 0.25, 0.25, 0.25 }
}

class "*GtkHandleBox" style:highest "gx4_h_style"
#class "*GtkScrolledWindow" style:highest "gx4_h_style"
widget_class "*GtkDialog*" style:highest "gx4_h_style"
widget_class "*GtkToggleButton*" style:highest "gx4_b_style"
class "*GtkButton" style:highest "gx4_b_style"
class "*GtkSpinButton" style:highest "gx4_c_style"

style "tagx4_b_style"
{
#file-chooser background
bg[NORMAL] = { 0.40, 0.20, 0.20 }
bg[ACTIVE] = { 0.30, 0.40, 0.40 }
bg[PRELIGHT] = { 0.50, 0.60, 0.60 }
bg[SELECTED] = { 0.60, 0.60, 0.00 }

engine "pixmap" 
{
image 
{
function        = EXTENSION
recolorable     = TRUE
state           = ACTIVE
file            = "cairo3.jpg"
border          = { 2, 3, 2, 1 }
stretch         = TRUE
gap_side        = BOTTOM
}
image 
{
function        = EXTENSION
recolorable     = TRUE
state           = NORMAL
file            = "black2.png"
border          = { 2, 3, 2, 0 }
stretch         = TRUE
gap_side        = BOTTOM
}
}

}


widget "*.tab_rack" style:highest "tagx4_b_style"

style "gx4_head_p_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "black2.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = PRELIGHT
shadow = OUT
file = "black1.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = INSENSITIVE
shadow = OUT
file = "black1.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
}
fg[NORMAL] = { 0.9, 0.9, 0.9 }
fg[ACTIVE] = { 0.7, 0.7, 0.7 }
fg[PRELIGHT] = { 0.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.3, 0.3, 0.3 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "sans 7"
}

style "gx4_head_pa_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "black2.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = PRELIGHT
shadow = OUT
file = "black1.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = INSENSITIVE
shadow = OUT
file = "black2.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function		= BOX
recolorable		= TRUE
file			= "black2.png"
border			= { 0, 0, 0, 0 }
stretch			= TRUE
}
image
{
function = BOX
detail = "vscrollbar"
}
image
{
function		= SLIDER
recolorable		= TRUE
state			= NORMAL
shadow			= OUT
file			= "black1.png"
border			= { 0, 0, 0, 0 }
stretch			= TRUE
}
image
{
function		= SLIDER
recolorable		= TRUE
state			= PRELIGHT
shadow			= OUT
file			= "black2.png"
border			= { 0, 0, 0, 0 }
stretch			= TRUE
}
image
{
function		= SLIDER
recolorable		= TRUE
state			= ACTIVE
shadow			= OUT
file			= "black2.png"
border			= { 0, 0, 0, 0 }
stretch			= TRUE
}
image
{
function		= SLIDER
recolorable		= TRUE
shadow			= IN
file			= "black1.png"
border			= { 0, 0, 0, 0 }
stretch			= TRUE
}

}
bg[NORMAL] 				= { 0.0, 0.0, 0.0 }
base[NORMAL]      		= { 0.70, 0.70, 0.70 }
text[NORMAL] = { 0.20, 0.20, 0.20 }

}

style "gx4_head_pair_style"
{
engine "pixmap"
{
image
{
function = BOX
recolorable = TRUE
state = NORMAL
shadow = OUT
file = "black2.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = PRELIGHT
shadow = OUT
file = "black1.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
image
{
function = BOX
recolorable = TRUE
state = INSENSITIVE
shadow = OUT
file = "black2.png"
border = { 0, 0, 0, 0 }
stretch = TRUE
}
}
bg[NORMAL] = { 0.9, 0.0, 0.0 }

text[NORMAL] = { 0.90, 0.90, 0.90 }
text[ACTIVE] = { 0.80, 0.80, 0.80 }
text[PRELIGHT] = { 0.80, 0.80, 0.80 }
text[INSENSITIVE] = { 0.30, 0.30, 0.30}
text[SELECTED] = { 1.0, 1.0, 1.0 }
}

widget "*.effect_reset" style:highest "gx4_head_p_style"
widget "*.label_reset" style:highest "gx4_head_p_style"
widget_class "*GtkScrolledWindow*" style:highest "gx4_head_pa_style"
widget "*.rack_button" style:highest "gx4_head_pa_style"
widget_class "*GtkComboBox*" style:highest "gx4_head_pair_style"

style "gx4_head-rack-group"
{
fg[NORMAL] = { 0.6, 0.8, 0.7 }
fg[ACTIVE] = { 0.2, 0.2, 0.2 }
fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
fg[INSENSITIVE] = { 0.0, 0.0, 0.0 }
fg[SELECTED] = { 0.8, 0.8, 0.8 }
font_name = "sans Bold 8"
}
widget "*.MonoBox.*GtkLabel" style:highest "gx4_head-rack"
widget "*.*GtkFrame.*GtkLabel" style:highest "gx4_head-rack-group"

style "gx_head_black_preset"
{
	bg[NORMAL] 				= { 0.7, 0.7, 0.7 }
	bg[SELECTED] 			= { 0.1, 0.1, 0.1 }
    base[NORMAL]      		= { 0.7, 0.7, 0.7 }
    base[SELECTED]      	= { 0.1, 0.1, 0.1 }
	text[NORMAL] 			= { 0.2, 0.2, 0.2 }
}
widget "*.PresetView" style:highest "gx_head_black_preset"
