/* GX-Style Grungy Sun */

/* ICON THEME
 * 
 * background1:    grungy_sun.png
 * background2:    grungy_sun2.png
 * bigknob:        knob_big.png
 * levelslider:    simplelevelslider.png
 * midknob:        knob_mid.png
 * minitoggle_off: switch_mid_off.png
 * minitoggle_on:  switch_mid_on.png
 * portdisplay:    playhead.png
 * smallknob:      knob_small.png
 * smallknobr:     knob_small_r.png
 * switchit_off:   switch_off.png
 * switchit_on:    switch_on.png
 * wheel_back:     tactile_wheel_101f.png
 * gxhead:         live_wallpaper_grungy_sun.png
 * 
 * ICON THEME
 */

@import url("gx_head_Guitarix.css");


gx-paint-box {
    -GxPaintBox-icon-set: 8;
    -GxPaintBox-stock-gxhead: "live_wallpaper_grungy_sun.png";
}

frame, #frame_inversed, frame border, #frame_inversed border {
    background-color: transparent;
}

frame border, #frame_inversed border {
    border-color: rgba(50, 50, 50, 0.7);
    border-style: groove;
    border-width: 1px;
}
