Source: guitarix
Section: sound
Priority: extra
Maintainer: brummer <brummer-@web.de>
Build-Depends: debhelper (>= 6), python-minimal, python2.5, libjack-jackd2-dev|libjack-dev, libsndfile1-dev, libgtk2.0-dev, ladspa-sdk, libzita-convolver-dev
Standards-Version: 3.7.3
Homepage: <http://guitarix.sourceforge.net/>

Package: guitarix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: jack-capture, vorbistools, lame
Description: <simple mono amplifier>
 <guitarix is a simple mono amplifier to jack (JackAudioConnektionKit) with one input and two output's. Designed to get nice trash/metall/rock/guitar sounds. Avaliable are the controls for bass, treble, gain, balance, distortion, freeverb, crybaby(wah) and echo . A fixed resonator will use, when distortion is disable. For the 'presure' in the sound you can use the feedback and feedforward sliders. guitarix comes with a GTK Interface and as Ladspa plugin. Not all funktions are included in the ladspa plugin>
