#
# This is the GTK rc style file for guitarix
#

pixmap_path './skins:./:/usr/share/guitarix:/usr/local/share/guitarix'


style "guitarix_default"
{


  GtkButton::default_border = { 0, 0, 0, 0 }
  GtkButton::default_outside_border = { 0, 0, 0, 0 }
  GtkButton::button_relief = GTK_RELIEF_NONE


  fg[NORMAL] = { 0.80, 0.80, 0.80 }
  fg[ACTIVE] = { 0.80, 0.80, 0.80 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[INSENSITIVE] = { 0.80, 0.80, 0.80 }
  fg[SELECTED] = { 0.80, 0.80, 0.80 }

  bg[NORMAL] = { 0.03, 0.03, 0.03 }
  # bg[NORMAL] = { 0.35, 0.35, 0.40 }
  # bg_pixmap[NORMAL] = "guitarixback4.jpg"
  bg[PRELIGHT] = { 0.40, 0.40, 0.45 }
  bg[ACTIVE] = { 0.0, 0.0, 0.0 }
  bg[SELECTED] = "#c4c0c0"

  text[NORMAL] = { 0.80, 0.80, 0.80 }
  text[ACTIVE] = { 0.80, 0.80, 0.80 }
  text[PRELIGHT] = { 0.80, 0.80, 0.80 }
  text[INSENSITIVE] = { 0.80, 0.80, 0.80}
  text[SELECTED] = { 1.0, 1.0, 1.0 }

  base[ACTIVE]     = "#272a2f"
  base[NORMAL]      =  "#1a1e20"
  base[PRELIGHT]     = { 0.20, 0.20, 0.20 }
  base[INSENSITIVE]  = "#4c5159"
  base[SELECTED]     = { 0.25, 0.25, 0.25 }
  font_name = "sans 10"
  engine "clearlooks"
  {
    menubarstyle      = 0       # 0 = flat, 1 = sunken, 2 = flat gradient
  }
}


class "GtkWidget" style:highest "guitarix_default"
class "GtkLabel" style:highest "guitarix_default"
class "GtkHScale" style:highest "guitarix_default"
class "GtkVScale" style:highest "guitarix_default"
class "GtkCheckButton" style:highest "guitarix_default"
class "GtkButton" style:highest "guitarix_default"
class "GtkFrame" style:highest "guitarix_default"
class "GtkExpander" style:highest "guitarix_default"

widget_class "*GtkToggleButton*" style:highest "guitarix_default"
class "GtkButton" style:highest "guitarix_default"
class "GtkSpinButton" style:highest "guitarix_default"

style "guitarix_handle_default"
{
  fg[NORMAL] = { 0.80, 0.80, 0.80 }

  bg[NORMAL] = { 0.05, 0.05, 0.04 }
  engine "clearlooks" {}
  #font_name = "sans 9"

}


class "GtkHandleBox" style:highest "guitarix_handle_default"

style "guitarix_event_default"
{
  bg[NORMAL] = { 0.2, 0.2, 0.2 }
  bg_pixmap[NORMAL] = ""
  engine "clearlooks" {}
}


class "GtkEventBox" style:highest "guitarix_event_default"

style "guitarix_menu_default"
{
  fg[NORMAL] = { 0.80, 0.80, 0.80 }

  bg[NORMAL] = { 0.35, 0.35, 0.40 }

  font_name = "sans 9"
  engine "clearlooks" {}
}

class "GtkMenu" style:highest "guitarix_menu_default"
class "GtkMenuBar" style:highest "guitarix_menu_default"

